<header>
  <div class="intro">
    <h2>23年 11.2</h2>
    <a
      id="title"
      href="https://myanimelist.net/profile/yahalloe"
      target="_blank"
      title="MAL"
    >
      <h1>ANIME OP 3X3</h1>
    </a>
  </div>
</header>
<main>
  <div class="grid-container">
    <a
      href="https://youtu.be/_v_Voe5KD1M?si=wjwwOwe-2IVQWuyl"
      title="Re:Re"
      target="_blank"
    >
      <img src="public/rere.jpg" alt="Re:Re" height="500px" />
    </a>
    <a href="" title="">
      <img src="public/question.webp" alt="" height="500px" />
    </a>
    <a href="" title="">
      <img src="public/question.webp" alt="" height="500px" />
    </a>
    <a href="" title="">
      <img src="public/question.webp" alt="" height="500px" />
    </a>
    <a href="" title="">
      <img src="public/question.webp" alt="" height="500px" />
    </a>
    <a href="" title="">
      <img src="public/question.webp" alt="" height="500px" />
    </a>
    <a href="" title="">
      <img src="public/question.webp" alt="" height="500px" />
    </a>
    <a href="" title="">
      <img src="public/question.webp" alt="" height="500px" />
    </a>
    <a href="" title="">
      <img src="public/question.webp" alt="" height="500px" />
    </a>
    <!-- to be filled -->
  </div>
  <div class="explanation">
    <p>explanation on why i chose these*</p>
  </div>
</main>
<footer>
  <h2>Check my other 3x3's</h2>
  <div class="linkingPics">
    <a
      title="romcom3x3"
      hx-get="/romance"
      hx-target="body"
      hx-swap="innerHTML"
      hx-trigger="click"
      preload-images="true"
      onclick="scrollToTop()"
    >
      <img src="public/oregairu.jpg" alt="oregairu" height="500px" />
    </a>
    <a
      title="romcom3x3"
      hx-get="/"
      hx-target="body"
      hx-swap="innerHTML"
      hx-trigger="click"
      hx-push-url="true"
      onclick="scrollToTop()"
    >
      <img src="public/bunnyGirl.jpg" alt="oregairu" height="500px" />
    </a>
    <a href="" title="">
      <img src="public/question.webp" alt="" height="500px" />
    </a>
  </div>
  <aside>
    <a id="contacts" href="https://twitter.com/yahalloe">
      <button><i class="fa-brands fa-twitter"></i></button>
    </a>
    <div class="about-us">
      <a
        title="about-me"
        hx-get="/aboutme"
        hx-target="body"
        hx-swap="innerHTML"
        hx-trigger="click"
        preload-images="true"
        onclick="scrollToTop()"
      >
        <h3>About Me</h3>
      </a>
    </div>
    <div class="copyrights">
      <h3>© 2023-2024 yahallo.</h3>
    </div>
  </aside>
</footer>
